<div class="container">
  <div class="block_logo">
    <img class="block_logo_image" src="https://www.zigzag.am/static/version1666962451/frontend/Magento/zigzag/en_US/images/svg/main_logo_en.svg" alt="photo">
  </div>
  <form class="search_block">
    <input class="search_block_input" type="text" name="" id="">
    <button class="search_block_button">Search</button>
  </form>
  <div class="phone_info">
    <a href="tel:+374 11 900 800">+374 11 900 800</a>
  </div>
  <div class="action_Block">
    <div class="favorite_block">
      <img class="action_image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png" alt="photo">
    </div>
    <div class="compare_block">
      <img class="action_image" src="https://pngimg.com/uploads/scales/scales_PNG3.png" alt="photo">

    </div>
    <div class="basket_block">
      <img class="action_image" src="https://cdn-icons-png.flaticon.com/512/3081/3081840.png" alt="photo">
    </div>
  </div>
</div>
