* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: auto;
}
